{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      { "ssr": true, "displayName": true }
    ],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@assets": "./src/assets",
        "@clients": "./src/clients",
        "@components": "./src/components",
        "@constants": "./src/constants",
        "@hooks": "./src/hooks",
        "@layouts": "./src/layouts",
        "@pages": "./src/pages",
        "@styles": "./src/styles",
        "@utils": "./src/utils",
        "@config": "./src/config.js"
      }
    }]
  ]
}
